<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:brewer="http://brewer.algaworks.com">
<body>
	<div class="modal fade" id="modalCadastroProvaTipo" tabindex="-1"
		role="dialog" th:fragment="modal">
		<div class="modal-dialog  ">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Inclusão de Prova</h4>
				</div>

				<div class="modal-body">
					<div class="alert  alert-danger  hidden  js-mensagem-cadastro-prova" role="alert"></div>
					
					<form th:action="@{/tiposTeste/provaNovo}">
						
						<div class="form-group">
							
								<label for="prova" class="control-label">Prova</label> <select
									id="prova" class="form-control">
<!-- 									<option value="">Selecione um tipo</option> -->
									<option th:each="prova : ${provasIncluir}" th:value="${prova.id}"
										th:text="|${prova.nome} - ${prova.descricao}|">Prova</option>
								</select>
							
						</div>
						
						
					</form>

					<button type="button" 
						class="btn  btn-primary  js-modal-cadastro-prova-salvar-btn">Adicionar</button>
					<button type="button" class="btn  btn-default" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>