<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPrincipal}"
	xmlns:brewer="http://brewer.algaworks.com">

<head>
<title>Cadastro de Cargo</title>
</head>

<section layout:fragment="conteudo">
	<div class="row bg-title">
		<!-- .page title -->
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Cadastro de Cargo</h4>
		</div>
		<!-- /.page title -->
		<!-- .breadcrumb -->
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<button
				class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20">
				<i class="ti-settings text-white"></i>
			</button>
			<!-- <a href="javascript: void(0);" target="_blank"
				class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Buy
				Admin Now</a> -->
			<ol class="breadcrumb">
				<li><a th:href="@{/cargos}">Cargos</a></li>
				<li class="active">Cadastro de Cargo</li>
			</ol>
		</div>
		<!-- /.breadcrumb -->
	</div>
	<!-- .row -->
	<div class="row">
		<div class="col-md-12">
			<div class="white-box">
				<div class="container-fluid">

					<form method="POST" th:action="@{/cargos}" th:object="${cargo}">
						<brewer:message />
						<!-- <div layout:include="MensagemGeral"></div>
    	<div layout:include="MensagemErro"></div> -->


						<input type="hidden" th:field="*{id}" /> <input type="hidden"
							th:field="*{criadopor}" /> <input type="hidden"
							th:field="*{criadoem}" />
						<div class="row">
							<div class="form-group  col-sm-8  bw-required"
								brewer:classforerror="nome">
								<label for="nome" class="control-label">Cargo</label> <input
									type="text" class="form-control" id="nome"
									autofocus="autofocus" th:field="*{nome}" />
							</div>
							<div class="form-group  col-sm-4  bw-required"
								brewer:classforerror="abreviacao">
								<label for="abreviacao" class="control-label">Abreviação</label>
								<input type="text" class="form-control" id="abreviacao"
									th:field="*{abreviacao}" />
							</div>

						</div>

						<div class="row">
							<div class="form-group col-sm-12">

								<button type="submit" class="btn btn-primary">Salvar</button>
								<a class="btn  btn-primary" th:href="@{/cargos}">Voltar</a>

							</div>
						</div>




					</form>
				</div>


			</div>

		</div>
	</div>


</section>
</html>