<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/LayoutPrincipal}"
	xmlns:brewer="http://brewer.algaworks.com">

<head>
<title>Cadastro de Prova</title>
</head>

<section layout:fragment="conteudo">

	<!-- <div layout:include="MensagemGeral"></div> -->
	<div class="row bg-title">
		<!-- .page title -->
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Cadastro de Provas</h4>
		</div>
		<!-- /.page title -->
		<!-- .breadcrumb -->
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<button
				class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20">
				<i class="ti-settings text-white"></i>
			</button>
			<a th:href="@{/provas}"
				class="btn btn-primary pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Pesquisar
				Provas</a>
			<ol class="breadcrumb">
				<li><a th:href="@{/}">Painel Principal</a></li>
				<li class="active">Cadastro de Provas</li>
			</ol>
		</div>
		<!-- /.breadcrumb -->
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="white-box">
				<div class="container-fluid">

					<form method="POST" th:object="${prova}" th:action="@{/provas}">
						<brewer:message />


						<input type="hidden" th:field="*{id}" /> <input type="hidden"
							th:field="*{criadopor}" /> <input type="hidden"
							th:field="*{criadoem}" />
						<div class="row">
							<div class="form-group  col-sm-8  bw-required"
								brewer:classforerror="nome">
								<label for="nome" class="control-label">Nome</label> <input
									type="text" class="form-control" id="nome"
									autofocus="autofocus" th:field="*{nome}" />
							</div>
							<div class="form-group  col-sm-4 bw-required"
								brewer:classforerror="tipo">
								<label for="tipo" class="control-label">Tipo de Valor</label> <select
									id="tipo" class="form-control" th:field="*{tipo}" name="tipo">
									<option value="">Selecione uma opção</option>
									<option th:each="tipo : ${tipos}" th:value="${tipo}"
										th:text="${tipo.descricao}"></option>
								</select>
							</div>

						</div>
						<div class="row">
							<div class="form-group  col-sm-12  bw-required"
								brewer:classforerror="descricao">
								<label for="descricao" class="control-label">Descrição</label>
								<textarea type="text" class="form-control" id="descricao"
									th:field="*{descricao}"> </textarea>
							</div>


						</div>
						<div class="row referencia-idade">
							<div class="form-group  col-sm-3  bw-required"
								brewer:classforerror="refInicialMasc">
								<label for="refInicialMasc" class="control-label">Referência
									Inicial Masculina</label> <input type="text"
									class="form-control referencia" id="refInicialMasc"
									th:field="*{refInicialMasc}" />
							</div>
							<div class="form-group  col-sm-3  bw-required"
								brewer:classforerror="refFinalMasc">
								<label for="refInicialMasc" class="control-label">Referência
									Final Masculina</label> <input type="text"
									class="form-control referencia" id="refFinalMasc"
									th:field="*{refFinalMasc}" />
							</div>
							<div class="form-group  col-sm-3  bw-required"
								brewer:classforerror="refInicialFem">
								<label for="refInicialFem" class="control-label">Referência
									Inicial Feminina</label> <input type="text"
									class="form-control referencia" id="refInicialFem"
									th:field="*{refInicialFem}" />
							</div>
							<div class="form-group  col-sm-3  bw-required"
								brewer:classforerror="refFinalFem">
								<label for="refInicialFem" class="control-label">Referência
									Final Feminina</label> <input type="text"
									class="form-control referencia" id="refFinalFem"
									th:field="*{refFinalFem}" />
							</div>


						</div>
						<div class="row referencia-idade">
							<div class="form-group  col-sm-3  bw-required"
								brewer:classforerror="intervaloRef">
								<label for="intervaloRef" class="control-label">Intervalo
									Referência</label> <input type="text" class="form-control referencia"
									id="intervaloRef" th:field="*{intervaloRef}" />
							</div>
							<div class="form-group  col-sm-3  bw-required"
								brewer:classforerror="idadeInicial">
								<label for="idadeInicial" class="control-label">Idade
									Inicial</label> <input type="number" class="form-control"
									id="idadeInicial" th:field="*{idadeInicial}" />
							</div>
							<div class="form-group  col-sm-3  bw-required"
								brewer:classforerror="idadeFinal">
								<label for="idadeFinal" class="control-label">Idade
									Final</label> <input type="number" class="form-control" id="idadeFinal"
									th:field="*{idadeFinal}" />
							</div>
							<div class="form-group  col-sm-3  bw-required"
								brewer:classforerror="intervaloIdade">
								<label for="intervaloIdade" class="control-label">Intervalo
									Idade</label> <input type="number" class="form-control"
									id="intervaloIdade" th:field="*{intervaloIdade}" />
							</div>


						</div>
						<div class="row tentativa">
							<div class="form-group  col-sm-4  bw-required"
								brewer:classforerror="valorTentativa1">
								<label for="valorTentativa1" class="control-label">1°
									Tentativa</label> <input type="text" class="form-control"
									id="valorTentativa1" th:field="*{valorTentativa1}" />
							</div>
							<div class="form-group  col-sm-4  bw-required"
								brewer:classforerror="valorTentativa2">
								<label for="valorTentativa2" class="control-label">2°
									Tentativa</label> <input type="text" class="form-control"
									id="valorTentativa2" th:field="*{valorTentativa2}" />
							</div>
							<div class="form-group  col-sm-4  bw-required"
								brewer:classforerror="valorTentativa3">
								<label for="valorTentativa3" class="control-label">3°
									Tentativa</label> <input type="text" class="form-control"
									id="valorTentativa3" th:field="*{valorTentativa3}" />
							</div>



						</div>

						<button type="submit" class="btn  btn-primary">Salvar</button>
						<a class="btn  btn-primary" th:href="@{/provas}">Voltar</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/cadastro-provas.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.masknumber.min.js}"></script>
<script th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>
	
	<script th:src="@{/javascripts/formata-campo-tempo.js}"></script>
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<!-- <script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script> -->
</th:block>

</html>
