<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/LayoutPrincipal}"
	xmlns:brewer="http://brewer.algaworks.com">

<head>
<title>Cadastro de Pessoa</title>
</head>

<section layout:fragment="conteudo">
	<div class="row bg-title">
		<!-- .page title -->
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Cadastro de Pessoa</h4>
		</div>
		<!-- /.page title -->
		<!-- .breadcrumb -->
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<button
				class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20">
				<i class="ti-settings text-white"></i>
			</button>
			<!-- <a href="javascript: void(0);" target="_blank"
				class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Buy
				Admin Now</a> -->
			<ol class="breadcrumb">
				<li><a href="#">Cadastro de Pessoa</a></li>
				<li class="active">Cargos</li>
			</ol>
		</div>
		<!-- /.breadcrumb -->
	</div>
	<!-- .row -->

	<div class="row">
		<div class="col-md-12">
			<div class="white-box">
				<div class="container-fluid">

					<form method="POST" th:object="${pessoaDef}"
						th:action="@{/pessoasdef}">
						<brewer:message />


						<input type="hidden" th:field="*{id}" /> <input type="hidden"
							th:field="*{criadopor}" /> <input type="hidden"
							th:field="*{criadoem}" />
						<div class="row">
							<div class="form-group  col-sm-8  bw-required"
								brewer:classforerror="nome">
								<label for="nome" class="control-label">Nome</label> <input
									type="text" class="form-control" id="nome"
									autofocus="autofocus" th:field="*{nome}" />
							</div>
							<div class="form-group  col-sm-4  bw-required"
								brewer:classforerror="nome_guerra">
								<label for="nome_guerra" class="control-label">Nome de
									Guerra</label> <input type="text" class="form-control" id="nome_guerra"
									th:field="*{nome_guerra}" />
							</div>
						</div>

						<div class="row">
							<div class="form-group  col-sm-3  bw-required"
								brewer:classforerror="tipo">
								<label class="control-label">Tipo</label>
								<div>
									<div class="radio  radio-inline">
										<input type="radio" th:id="civil" th:field="*{tipo}"
											th:value="CIVIL"> <label class="control-label"
											th:for="civil">Civil</label>
									</div>
									<div class="radio  radio-inline">
										<input type="radio" th:id="militar" th:field="*{tipo}"
											th:value="MILITAR"> <label class="control-label"
											th:for="militar">Militar</label>
									</div>
								</div>

							</div>
							<div class="form-group  col-sm-3  bw-required"
								brewer:classforerror="sexo">
								<label class="control-label">Sexo</label>
								<div>
									<div class="radio  radio-inline">
										<input type="radio" th:id="feminino" th:field="*{sexo}"
											th:value="FEMININO"> <label class="control-label"
											th:for="feminino">Feminino</label>
									</div>
									<div class="radio  radio-inline">
										<input type="radio" th:id="masculino" th:field="*{sexo}"
											th:value="MASCULINO"> <label class="control-label"
											th:for="masculino">Masculino</label>
									</div>
								</div>

							</div>
							<div class="form-group  col-sm-3  bw-required"
								brewer:classforerror="matricula">
								<label for="matricula" class="control-label">Matricula</label> <input
									type="text" class="form-control" id="matricula"
									th:field="*{matricula}" />
							</div>
							<div class="form-group  col-sm-3 ">
								<label for="numero" class="control-label">Numeral</label> <input
									type="text" class="form-control" id="numero"
									th:field="*{numero_pm}" />
							</div>
						</div>




						<div class="row">
							<div class="form-group  col-sm-3 bw-required"
								brewer:classforerror="etnia">
								<label for="etnia" class="control-label">Etnia</label> <select
									id="etnia" class="form-control" th:field="*{etnia}"
									name="cargo">
									<option value="">Selecione uma opção</option>
									<option th:each="etnia : ${etnias}" th:value="${etnia}"
										th:text="${etnia.descricao}"></option>
								</select>
							</div>

							<div class="form-group  col-sm-3">
								<label for="telefone">Telefone</label> <input type="text"
									class="form-control  js-phone-number" id="telefone"
									th:field="*{telefone1}" />
							</div>
							<div class="form-group  col-sm-3">
								<label for="telefone">Celular</label> <input type="text"
									class="form-control  js-phone-number" id="telefone"
									th:field="*{telefone2}" />
							</div>

							<div class="form-group  col-sm-3">
								<label for="email" class="control-label">E-mail</label> <input
									type="text" class="form-control" id="email" th:field="*{email}" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-3 bw-required"
								brewer:classforerror="datanasc">
								<label for="data" class="control-label">Data Nascimento</label>
								<input type="text" class="form-control" id="dataNascimento"
									name="data" th:field="*{datanasc}" data-provide="datepicker"
									data-date-language="pt-BR" data-date-today-highlight="true"
									data-date-orientation="bottom" />

							</div>
							<div class="form-group  col-sm-3 bw-required">
								<label for="altura" class="control-label">Altura</label> <input
									type="text" class="form-control" id="altura"
									th:field="*{altura}" />
							</div>
							<div class="form-group  col-sm-3 bw-required"
								brewer:classforerror="cargo">
								<label for="cargo" class="control-label">Post./Grad.</label> <select
									id="cargo" class="form-control" th:field="*{cargo}"
									name="cargo">
									<option value="">Selecione uma opção</option>
									<option th:each="cargo : ${cargos}" th:value="${cargo.id}"
										th:text="${cargo.nome}"></option>
								</select>
							</div>
							<div class="form-group  col-sm-3 bw-required"
								brewer:classforerror="opm_orgao">
								<label for="opm" class="control-label">OPM/Orgão</label> <select
									id="opm" class="form-control" th:field="*{opm_orgao}"
									name="opm">
									<option value="">Selecione uma opção</option>
									<option th:each="opm : ${opms}" th:value="${opm.id}"
										th:text="${opm.nome}"></option>
								</select>
							</div>
						</div>

						<button type="submit" class="btn  btn-primary">Salvar</button>
						<a class="btn  btn-primary" th:href="@{/pessoasdef}">Voltar</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/estilo.cadastro-rapido.js}"></script>
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
</th:block>

</html>
