<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">
<head>


</head>
<body>
	<section layout:fragment="conteudo">
		<div class="modal fade" id="modalAdicionaResultado" tabindex="-1"
			role="dialog" th:fragment="modalAdicionaResultado">
			<div class="modal-dialog  ">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Inclusão de Resultado</h4>
					</div>

					<div class="modal-body">
						<div
							class="alert  alert-danger  hidden  js-mensagem-cadastro-prova"
							role="alert"></div>

						<form th:action="@{/testesFisicos/resultadoNovo}" method="post">
							<div class="row">
								<div class="form-group col-sm-12">
									<label for="participante" class="control-label">PARTICIPANTE</label>
									<select title="Selecione um participante..." id="participante"
										class="selectpicker form-control" data-live-search="true"
										tabindex="7">
										<option value=""></option>
										<option th:each="pessoa : ${pessoasIncluir}"
											th:value="${pessoa.id}"
											th:text="|${pessoa.matricula} - ${pessoa.nome}|"></option>

									</select>

								</div>
								<div class="form-group col-sm-12">
									<input th:id="qtdProvas" type="hidden" class="form-control"
										th:value="${qtdProvas}">
								</div>
								<div th:each="tipo, iter : ${tipos}">
									<div class="form-group col-sm-12"
										th:each="prova, iterProva : ${tipo.provas}">
										<div th:if="${prova.tipo.descricao}=='Inteiro'">
											<input th:id="${iter.index}" type="hidden"
												class="input-id-prova form-control" th:value="${prova.id}">
											<label class="control-label" th:for="${prova.id}"
												th:text="${prova.nome}"></label> <input
												th:id="${iterProva.index}" type="text"
												class="input-prova form-control">
										</div>
										<div th:if="${prova.tipo.descricao}=='Tempo (s)'">
											<input th:id="${iter.index}" type="hidden"
												class="input-id-prova form-control" th:value="${prova.id}">
											<label class="control-label" th:for="${prova.id}"
												th:text="${prova.nome}"></label> <input
												th:id="${iterProva.index}" type="text"
												class="input-prova form-control js-time">
										</div>
										<div th:if="${prova.tipo.descricao}=='Tempo (m)'">
											<input th:id="${iter.index}" type="hidden"
												class="input-id-prova form-control" th:value="${prova.id}">
											<label class="control-label" th:for="${prova.id}"
												th:text="${prova.nome}"></label> <input
												th:id="${iterProva.index}" type="text"
												class="input-prova form-control js-time">
										</div>
										<div th:if="${prova.tipo.descricao}=='Apto / Inapto'">
											<input th:id="${iter.index}" type="hidden"
												class="input-id-prova form-control" th:value="${prova.id}">
											<label th:for="${prova.id}" class="control-label"
												th:text="${prova.nome}"> </label> <select
												th:id="${iter.index}" name="tipoCampo"
												class="input-prova form-control">
												<option value="">Selecione uma opção</option>
												<option th:each="resultado : ${resultadosBooleanos}"
													th:value="${resultado.valor}"
													th:text="${resultado.descricao}"></option>
											</select>
										</div>


									</div>
								</div>

							</div>
						</form>

						<button type="button"
							class="btn  btn-primary  js-modal-cadastro-resultado-salvar-btn">Adicionar</button>
						<button type="button" class="btn  btn-default"
							data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>

	</section>


</body>
</html>