<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div class="modal fade" id="myModalExclusaoResultado" tabindex="-1" data-keyboard="false" data-backdrop="static"
th:fragment="modalExclusao">
	<div class="modal-dialog">
		<form th:attr="data-url-base=@{/testesFisicos/deleteResultado/}, data-tipo='o resultado '" method="get">
			
			
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Você tem certeza?</h4>
				</div>
				
				<div class="modal-body">
					<span>Tem certeza que deseja remover o resultado de teste?</span>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
					<button type="submit" id="btn-excluir" class="btn btn-primary">Excluir</button>
				</div>
			</div>
		</form>
	</div>
</div>
</body>	
</html>