<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPrincipal}">

<head>
<title>Doações</title>
<th:block layout:fragment="css-extra">

	<link
		th:href="@{../plugins/bower_components/datatables/jquery.dataTables.min.css}"
		rel="stylesheet" type="text/css" />
</th:block>
</head>

<section layout:fragment="conteudo">
	<!-- <div layout:include="MensagemGeral"></div> -->
	<div class="row bg-title">
		<!-- .page title -->
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">Doações</h4>
		</div>
		<!-- /.page title -->
		<!-- .breadcrumb -->
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<button
				class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20">
				<i class="ti-settings text-white"></i>
			</button>
			<a th:href="@{/doacoes/novo}"
				class="btn btn-primary pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Nova
				Doação</a>
			<ol class="breadcrumb">
				<li><a th:href="@{/}">Painel Principal</a></li>
				<li class="active">Doações</li>
			</ol>
		</div>
		<!-- /.breadcrumb -->
	</div>
	<!-- .row -->
	<div class="row">
		<div class="col-md-12">
			<div class="white-box">




				<div class="container-fluid">

					<div class="table-responsive">
						<table id="example"
							class="table table-bordered table-striped table-condensed"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Id</th>
									<th>Data Doação</th>
									<th>Doador</th>
									<th></th>


								</tr>
							</thead>
							<tbody>
								<tr th:each="doacao : ${doacoes}">
									<td th:text="${doacao?.id}">1</td>
									<td th:text="${{doacao?.dataDoacao}}">data</td>
									<td th:text="${doacao?.doador}">doador</td>
									<td class="text-center"><a class="btn btn-link btn-xs"
										th:href="@{/doacoes/{id}(id=${doacao.id})}" title="Editar"
										rel="tooltip" data-placement="top"> <span
											class="glyphicon glyphicon-pencil"></span>
									</a> <a class="btn btn-link btn-xs" data-toggle="modal"
										data-target="#myModalExclusao"
										th:attr="data-id=${doacao.id}, data-nome=${doacao.doador}"
										title="Excluir" rel="tooltip" data-placement="top"> <span
											class="glyphicon glyphicon-remove"></span>
									</a></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModalExclusao" tabindex="-1"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<form
				th:attr="data-url-base=@{/doacoes/delete/}, data-tipo='a doação feita por '"
				method="get">


				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Você tem certeza?</h4>
					</div>

					<div class="modal-body">
						<span>Tem certeza que deseja apagar a doação?</span>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">Excluir</button>
					</div>
				</div>
			</form>
		</div>
	</div>



</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/bpchoque.js}"></script>
	<!-- 	<script th:src="@{/javascripts/datatable/jquery.dataTables.min.js}"></script> -->
	<!-- 	<script th:src="@{/javascripts/datatable/dataTables.bootstrap.min.js}"></script> -->
	<script
		th:src="@{../plugins/bower_components/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/javascripts/datatable/iniciaAndTraduz.js}"></script>
</th:block>
</html>